name: strfndr-api

services:
  db:
    image: mysql:latest
    container_name: starfinder-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: starfinder
      MYSQL_USER: starfinder_user
      MYSQL_PASSWORD: starfinder_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data:
